<% layout("/layouts/boilerplate") %>
<link rel="stylesheet" href="../CSS/style.css" />

<br />
<!-- <h3><b> All Listings </b></h3> -->
<div class="filters">
  <div class="filter">
    <div><i class="fa-solid fa-house"></i></div>
    <p>Home</p>
  </div>
  <div class="filter">
    <div><i class="fa-solid fa-fire"></i></div>
    <p>Trending</p>
  </div>
  <div class="filter">
    <div><i class="fa-solid fa-bed"></i></div>
    <p>Rooms</p>
  </div>
  <div class="filter">
    <div><i class="fa-solid fa-mountain-city"></i></div>
    <p>Iconic cities</p>
  </div>
  <div class="filter">
    <div><i class="fa-solid fa-mountain"></i></div>
    <p>Mountains</p>
  </div>
  <div class="filter">
    <div><i class="fa-brands fa-fort-awesome"></i></div>
    <p>Castles</p>
  </div>
  <div class="filter">
    <div><i class="fa-solid fa-person-swimming"></i></div>
    <p>Amazing pools</p>
  </div>
  <div class="filter">
    <div><i class="fa-solid fa-street-view"></i></div>
    <p>Amazing view</p>
  </div>
  <div class="filter">
    <div><i class="fa-solid fa-cow"></i></div>
    <p>Agriculture</p>
  </div>
  <div class="filter">
    <div><i class="fa-solid fa-umbrella-beach"></i></div>
    <p>Beach</p>
  </div>
  <div class="filter">
    <div><i class="fa-solid fa-tents"></i></div>
    <p>Camping</p>
  </div>
  <div class="filter">
    <div><i class="fa-solid fa-snowflake"></i></div>
    <p>Arctic</p>
  </div>

  <div class="tax-toggle toggle">
    <div class="form-check-reverse form-switch">
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        id="flexSwitchCheckDefault"
      />
      <label class="form-check-label toggle" for="flexSwitchCheckDefault"
        >Display total before taxes
      </label>
    </div>
  </div>
</div>
<br />
<!-- <form method="GET" action="/listings/new">
    <button>Create New Listing</button>
</form> -->
<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
  <% for(let listing of allListings) { %>
  <a href="/listings/<%= listing._id %>" class="listing-link">
    <div class="card col listing-card">
      <img
        src="<%= listing.image.url %>"
        class="card-img-top"
        alt="listing_image"
      />
      <div class="card-img-overlay"></div>
      <div class="card-body">
        <p class="card-text">
          <b><%= listing.title %> </b> <br />
          &#8377;<%= listing.price.toLocaleString("en-IN") %> / night
          <i class="tax-info"> &nbsp; +18% GST</i>
        </p>
      </div>
    </div>
  </a>
  <% } %>
</div>

<!-- <ul>
  <% for(let listing of allListings) { %>
  <li><a href="/listings/<%= listing._id%>"><%= listing.title %></a></li>
  <% } %>
</ul> -->

<script src="../JS/indexd.js"></script>
